body{
	background-color: #004c66;
}
.circle{
	margin: 70px auto;
	width: 40px;
	height: 40px;
	border: 5px solid rgba(255,255,255,0.2);
	border-radius: 50%;
	border-top-color: #fff;
	animation: spin 1s linear infinite;
    
}
@keyframes spin{
	100%{
		transform: rotate(360deg);
	}
.book-btn {
    margin-left: auto;
    padding: 10px 18px;
    background: #ff9800;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.book-btn:hover {
    background: #e68900;
}
}

